# Entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Base de datos SQLite (si usás)
db.sqlite3

# Archivos estáticos compilados (opcional)
staticfiles/

# Archivos del sistema y editores
.DS_Store
.vscode/
.idea/
*.log